.opportunity-section-container {
    margin: 0.1rem;
}

.group-section {
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    background: white;
    padding: 1rem;
} 

.item-section {
    border: 1px dotted black;
    background: lightseagreen;
}

.drop-over {
    background-color: blue;
}

.draggable-box {
    cursor: move;
}